.banner {
    background: var(--azul-degrader);
    color: var(--branco);
    text-align: center;
    padding: 2.5em 2em;
}

.banner__titulo {
    font-size: 18px;
    font-weight: 700;
}

.banner__texto {
    font-weight: 500;
    margin: 1em 0;
}

.banner__pesquisa {
    background: transparent;
    border: 1px solid var(--branco);
    border-radius: 24px;
    color: var(--branco);
    padding: 1em;
    width: 100%;
}

.banner__pesquisa::placeholder {
    font-family: var(--fonte-principal);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: var(--branco);
    background: url(../img/Lupa.svg) no-repeat;
    background-position: 1em;
}

@media screen and (min-width: 900px) {
    .banner__titulo {
        font-size: 36px;
    }
    .banner__pesquisa {
        width: 50%;
    }
    .banner__pesquisa::placeholder {
        background-position: 3em;
    }
}

@media screen and (min-width: 1300px) {
    .banner__pesquisa {
        width: 35%;
    }
    .banner__pesquisa::placeholder {
        background-position: 5em;
    }
    .banner {
        padding: 6em 0;
    }
}