.cabecalho_meu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 10px;
}

.lista__menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked~.lista__menu {
    display: block;
}

.lista-menu__titulo,
.lista-itens {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.container__botao {
    display: none;
}

.lista-menu__link {
    background: var(--azul-degrader);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.container__titulo {
    display: none;
}

.opcoes {
    display: none;
}

.container__texto {
    display: none;
}

.container__botao:checked~.container__rotulo>.cabecalho_meu-hamburguer {
    background-image: url("../img//Menu\ Aberto.png");
}

.container__botao:checked~.container__rotulo {
    background: var(--azul-degrader);
}

@media screen and (min-width: 900px) {
    .container__titulo,
    .container__titulo--negrito {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }
    .container__titulo {
        display: block;
        font-weight: 400;
    }
    .container__titulo--negrito {
        font-weight: 700;
    }
    .opcoes {
        display: flex;
    }
    .opcoes__itens {
        padding: 0 1em;
        text-transform: uppercase;
    }
    .opcoes__link {
        text-decoration: none;
        color: var(--preto);
    }
    .cabecalho_meu-hamburguer {
        display: none;
    }
    .container__imagem-transparente {
        display: none;
    }
    .opcoes__botao:checked~.lista__menu {
        display: block;
        width: auto;
    }
    .opcoes__botao {
        display: none;
    }
    .opcoes__botao:checked~.opcoes__rotulo>.opcoes__itens {
        background: var(--azul-degrader);
        color: var(--branco);
    }
    .opcoes__itens {
        padding: 2em 1em;
    }
    .lista-itens:hover {
        background: var(--azul-degrader);
    }
    .lista-itens:hover>.lista-menu__link {
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }
}

@media screen and (min-width: 1300px) {
    .container__texto {
        display: block;
    }
    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }
    .cabecalho {
        padding: 0 2em;
    }
    .opcoes {
        margin-right: auto;
    }
}