.topicos {
    background: var(--azul-degrader);
    text-align: center;
    padding: 1em 0;
}

.topicos__titulo {
    color: var(--branco);
    font-weight: 300;
    margin-bottom: 1em;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos__item {
    margin: 2em 0.5em;
}

.topicos__link {
    color: var(--branco);
    text-decoration: none;
    padding: 1em;
    background-color: var(--laranja);
    font-size: 14px;
    font-weight: 700;
}

@media screen and (min-width:900px) {
    .topicos {
        padding: 3em 32vw;
    }
}

@media screen and (min-width:1100px) {
    .topicos {
        padding: 3em 30vw;
    }
}